<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="static/prontuario.css">
    <title>Água</title>
</head>
<body>
<h1> Beba Água!!</h1>
<form action= "/agua.resultado" method="get">
    PESO <input type="text" name="peso" placeholder="KG"><br>
    <input type="submit" name="submit" value="Enviar">
    <!--menu -->
<ul class="navbar">
 <li><a href="/">Página Inicial</a>
 <li><a rel="musingssheets" href="/imc">IMC</a>
 <li><a href="/circunferencia">RISCOS DE DOENÇAS CARDÍACAS</a>
  <li><a href="/agua">Quantidade DE ÁGUA NECESSÁRIA</a>
 <li><a href="/checkup">CHECK-UP</a>
</ul>
</form>


</body>

</html>